{
  "openapi": "3.0.1",
  "info": {
    "title": "Photo API",
    "version": "Live"
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/photo"
    }
  ],
  "components": {
    "schemas": {
      "metadataResponseModel": {
        "type": "object",
        "properties": {
          "?xpacket": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "@begin": {
                  "type": "string"
                },
                "@id": {
                  "type": "string"
                },
                "end": {
                  "type": "string"
                }
              }
            }
          },
          "x:xmpmeta": {
            "type": "object",
            "properties": {
              "@xmlns:x": {
                "type": "string"
              },
              "@x:xmptk": {
                "type": "string"
              },
              "rdf:RDF": {
                "type": "object",
                "properties": {
                  "@xmlns:rdf": {
                    "type": "string"
                  },
                  "rdf:Description": {
                    "type": "object",
                    "properties": {
                      "@rdf:about": {
                        "type": "string"
                      },
                      "@xmlns:Iptc4xmpCore": {
                        "type": "string"
                      },
                      "@xmlns:photoshop": {
                        "type": "string"
                      },
                      "@xmlns:dc": {
                        "type": "string"
                      },
                      "@xmlns:schema": {
                        "type": "string"
                      },
                      "@Iptc4xmpCore:CiAdrCity": {
                        "type": "string"
                      },
                      "@Iptc4xmpCore:CiAdrCtry": {
                        "type": "string"
                      },
                      "@Iptc4xmpCore:CiAdrRegion": {
                        "type": "string"
                      },
                      "@Iptc4xmpCore:CiEmailWork": {
                        "type": "string"
                      },
                      "@Iptc4xmpCore:CiTelWork": {
                        "type": "string"
                      },
                      "@Iptc4xmpCore:CiUrlWork": {
                        "type": "string"
                      },
                      "@photoshop:Source": {
                        "type": "string"
                      },
                      "@photoshop:Credit": {
                        "type": "string"
                      },
                      "@photoshop:DateCreated": {
                        "type": "string"
                      },
                      "@dc:rights": {
                        "type": "string"
                      },
                      "@dc:title": {
                        "type": "string"
                      },
                      "@dc:description": {
                        "type": "string"
                      },
                      "rdf:type": {
                        "type": "object",
                        "properties": {
                          "@rdf:resource": {
                            "type": "string"
                          }
                        }
                      },
                      "schema:imageHasSubject": {
                        "type": "object",
                        "properties": {
                          "@rdf:parseType": {
                            "type": "string"
                          },
                          "rdf:value": {
                            "type": "object",
                            "properties": {
                              "@rdf:resource": {
                                "type": "string"
                              }
                            }
                          },
                          "rdf:type": {
                            "type": "object",
                            "properties": {
                              "@rdf:resource": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "imageResponse": {
        "description": "Image",
        "content": {
          "image/jpeg": {},
          "image/png": {},
          "image/webp": {},
          "image/gif": {}
        }
      },
      "metadataResponse": {
        "description": "Metadata",
        "content": {
          "application/rdf+xml": {
            "schema": {
              "$ref": "#/components/schemas/metadataResponseModel"
            }
          }
        }
      },
      "badRequest": {
        "description": "Bad request"
      },
      "notAcceptable": {
        "description": "Not acceptable"
      }
    }
  },
  "paths": {
    "/{id}{ext}": {
      "get": {
        "summary": "Image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [ "", ".jpg", ".jpe", ".jpeg", ".png", ".webp", ".gif" ]
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "crop",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [ "MCU_3:2", "MCU_3:4", "CU_1:1", "CU_5:2" ]
            }
          },
          {
            "name": "download",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/imageResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/{id}.xmp": {
      "get": {
        "summary": "Image metadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/metadataResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          }
        }
      }
    }
  }
}
