{
  "openapi": "3.0.1",
  "info": {
    "title": "Photo API",
    "version": "Live"
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/photo"
    }
  ],
  "components": {
    "responses": {
      "imageResponse": {
        "description": "Image",
        "content": {
          "image/jpeg": {},
          "image/png": {},
          "image/webp": {},
          "image/gif": {}
        }
      },
      "badRequest": {
        "description": "Bad request"
      }
    }
  },
  "paths": {
    "/{id}{ext}": {
      "get": {
        "summary": "Image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "path",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [ "", ".jpg", ".jpe", ".jpeg", ".png", ".webp", ".gif" ]
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "crop",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [ "MCU_3:2", "MCU_3:4", "CU_1:1", "CU_5:2" ]
            }
          },
          {
            "name": "download",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/imageResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          }
        }
      }
    },
    "/{id}.xmp": {
      "get": {
        "summary": "Image metadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "givenName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "familyName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/imageResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          }
        }
      }
    }
  }
}
